services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: csat_db
      MYSQL_ROOT_PASSWORD: P1nkbunn13s  # Change to a secure password
    ports:
      - "3308:3306"  # Map to 3307 to avoid conflicts with local MySQL
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: csat_db
      DATABASE_USER: root
      DATABASE_PASSWORD: P1nkbunn13s
      DATABASE_PORT: 3306
      OPENAI_API_KEY: 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

volumes:
  db_data: